.header{
	margin-top:0.5%;
	margin-bottom:1px;
	margin-left:-10px;
	margin-right:0px;
	padding:0em 0.55em 0em;
	width:100%;
	height:40px;
	float:left;
	border: 5px;
	background-color:#19B698;
}
.first{
	margin-top:0.6%;
	margin-bottom:0px;
	margin-left:10px;
	margin-right:0px;
	padding:0em 0.55em 0em;
	font-size:20px;
	float:left;
	color:White;
}
.searchArea{
	margin-top:0.4%;
	margin-bottom:0px;
	margin-left:60px;
	margin-right:0px;
	padding:0em 0.55em 0em;
	width:25%;
	height:30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000000;
	background:#FFFFFF;
	border:1px solid #19B698;
	border-radius:5px;
}
.zero-dimension{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	float:left;
	width:0px;
	height:0px;
}
.nav{
	margin-top:1.5%;
	margin-bottom:0px;
	margin-left:-10px;
	margin-right:0px;
	padding:0em 0.55em 0em;
	width:22%;
	height:480px;
	float:left;
	background-color:#E8ECEC;
	overflow-y:auto;
}
.map{
	margin-top:1.5%;
	margin-bottom:0px;
	margin-left:-5px;
	margin-right:0px;
	padding:0em 0.38em 0em;
	width:100%;
	height:480px;
	float:left;
}
.map-changed{
	margin-top:1.5%;
	margin-bottom:0px;
	margin-left:10px;
	margin-right:0px;
	padding:0em 0em 0em;
	width:76%;
	height:480px;
	float:left;
}
.footer {
	margin-top:1.5%;
	margin-bottom:0px;
	margin-left:-10px;
	margin-right:0px;
	padding:0em 0.55em 0em;
	width:100%;
	float:left;
	text-align:center;
	background-color:#19B698;
}

/* blue color */
.blue
{
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.blue:hover
{
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

.blue:active
{
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.button
{
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover
{
    text-decoration: none;
}

.button:active
{
    position: relative;
    top: 1px;
}
.output
{
    font-family:Arial;
    font-size: 10pt;
    color:black;
    padding-left: 3px;
    padding-top: 6px;
	padding-bottom: 6px;
    width: 330px;
    background: #fff;
	border:1px solid #808080;
	border-radius:5px;
	z-index:2;
}
.shadow
{
        width:102px;
        position:relative;
        top: 2px;
        left: 2px;
        background: #555;
	z-index:2;
}
.shadow div{
        position:relative;
        top: -2px;
        left: -2px;
	z-index:2;
}